# Notebook example

Installing some necessary packages:

In [1]:
!pip install ipywidgets
!jupyter nbextension enable --py widgetsnbextension
!jupyter labextension install @jupyter-widgets/jupyterlab-manager

Requirement already satisfied: ipywidgets in /home/rodrigo/.local/lib/python3.8/site-packages (7.6.3)
Requirement already satisfied: traitlets>=4.3.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipywidgets) (5.0.5)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipywidgets) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipywidgets) (5.4.3)
Requirement already satisfied: nbformat>=4.2.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipywidgets) (5.1.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /home/rodrigo/.local/lib/python3.8/site-packages (from ipywidgets) (1.0.0)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /home/rodrigo/.local/lib/python3.8/site-packages (from ipywidgets) (7.19.0)
Requirement already satisfied: ipython-genutils in /home/rodrigo/.local/lib/python3.8/site-packages (from traitlets>=4.3.1->ipywidgets) (0.2.0)
Requirement already satisfied: notebook>=4.4.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from widgetsnbextension~=3.5.0->ipywidgets) (6.2.0)
Requirement already satisfied: tornado>=4.2 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (6.1)
Requirement already satisfied: jupyter-client in /home/rodrigo/.local/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (6.1.11)
Requirement already satisfied: jupyter-core in /home/rodrigo/.local/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets) (4.7.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/rodrigo/.local/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets) (3.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/lib/python3/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (45.2.0)
Requirement already satisfied: jedi>=0.10 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.18.0)
Requirement already satisfied: pickleshare in /home/rodrigo/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.7.5)
Requirement already satisfied: backcall in /home/rodrigo/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (3.0.10)
Requirement already satisfied: pygments in /home/rodrigo/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (2.7.4)
Requirement already satisfied: decorator in /home/rodrigo/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (4.4.2)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /usr/lib/python3/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (4.6.0)
Requirement already satisfied: terminado>=0.8.3 in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.9.2)
Requirement already satisfied: prometheus-client in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.9.0)
Requirement already satisfied: Send2Trash>=1.5.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.5.0)
Requirement already satisfied: argon2-cffi in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (20.1.0)
Requirement already satisfied: pyzmq>=17 in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (21.0.0)
Requirement already satisfied: jinja2 in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.11.2)
Requirement already satisfied: nbconvert in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (6.0.7)
Requirement already satisfied: python-dateutil>=2.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets) (2.8.1)
Requirement already satisfied: six>=1.11.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (1.15.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (0.17.3)
Requirement already satisfied: attrs>=17.4.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (20.3.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.8.1)
Requirement already satisfied: wcwidth in /home/rodrigo/.local/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.2.5)
Requirement already satisfied: ptyprocess; os_name != "nt" in /home/rodrigo/.local/lib/python3.8/site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.7.0)
Requirement already satisfied: cffi>=1.0.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.14.4)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/lib/python3/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.1.0)
Requirement already satisfied: jupyterlab-pygments in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.1.2)
Requirement already satisfied: defusedxml in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.6.0)
Requirement already satisfied: bleach in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (3.2.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.8.4)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/lib/python3/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.4.3)
Requirement already satisfied: testpath in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.4.4)
Requirement already satisfied: pycparser in /home/rodrigo/.local/lib/python3.8/site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.20)
Requirement already satisfied: packaging in /home/rodrigo/.local/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (20.8)
Requirement already satisfied: webencodings in /home/rodrigo/.local/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.1)
Requirement already satisfied: async-generator in /home/rodrigo/.local/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.10)
Requirement already satisfied: nest-asyncio in /home/rodrigo/.local/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.4.3)
Requirement already satisfied: pyparsing>=2.0.2 in /home/rodrigo/.local/lib/python3.8/site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.4.7)

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK
Traceback (most recent call last):
  File "/home/rodrigo/.local/bin/jupyter-labextension", line 7, in <module>
    from jupyterlab.labextensions import main
ModuleNotFoundError: No module named 'jupyterlab'

In [4]:
!pip install xgboost
!pip install scikit-learn==0.24

Requirement already satisfied: xgboost in /home/rodrigo/.local/lib/python3.8/site-packages (1.3.3)
Requirement already satisfied: scipy in /home/rodrigo/.local/lib/python3.8/site-packages (from xgboost) (1.5.4)
Requirement already satisfied: numpy in /home/rodrigo/.local/lib/python3.8/site-packages (from xgboost) (1.19.5)
Requirement already satisfied: scikit-learn==0.24 in /home/rodrigo/.local/lib/python3.8/site-packages (0.24.0)
Requirement already satisfied: joblib>=0.11 in /home/rodrigo/.local/lib/python3.8/site-packages (from scikit-learn==0.24) (1.0.0)
Requirement already satisfied: numpy>=1.13.3 in /home/rodrigo/.local/lib/python3.8/site-packages (from scikit-learn==0.24) (1.19.5)
Requirement already satisfied: scipy>=0.19.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from scikit-learn==0.24) (1.5.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from scikit-learn==0.24) (2.1.0)

**It is necessary to change the working directory so the project structure works properly:**

In [1]:
import sys
sys.path.append("../../")

From this point, it's on you!

---

In [2]:
import pandas as pd
import numpy as np

from ml.data_source.spreadsheet import Spreadsheet
from ml.preprocessing.preprocessing import Preprocessing
from ml.preprocessing.feature_selection import FeatureSelector
from ml.model.trainer import TrainerSklearn
from ml.preprocessing.normalization import Normalizer

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVR
from sklearn.svm import LinearSVC
from sklearn.feature_selection import mutual_info_classif 
from skfeature.function.similarity_based import fisher_score

In [3]:
from sklearn.feature_selection import chi2

In [4]:
df = Spreadsheet().get_data('../../../data/raw/train.csv',columns=['Survived','Pclass','Sex','Age'])

In [5]:
p = Preprocessing()
estimator = LinearSVC()
#f = FeatureSelector('exaustive', estimator = estimator, min_features = 3, max_features = 4)
#f = FeatureSelector('recursive', estimator = LinearSVC(), n_features_to_select=2)
#f = FeatureSelector('sequential', estimator = LinearSVC(), direction='forward')
#f = FeatureSelector('model', estimator = estimator)
#f = FeatureSelector('variance', threshold=0.5)
#f = FeatureSelector('correlation', threshold=0.9)
#f = FeatureSelector('univariate_kbest', score_func=FeatureSelector.mean_abs_diff, k=2)
#f = FeatureSelector('univariate_percentile', score_func=chi2, percentile=50)
#f = FeatureSelector('coefficients', model=estimator, num_feat = 2)
f = FeatureSelector('ensemble', dic_selection={ 'variance': {'threshold' : 0.3},
                                              'recursive': {'estimator' : LinearSVC(), 'n_features_to_select' : 2}},
                   num_feat = 1)
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:numexpr.utils:Note: NumExpr detected 40 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.
INFO:root:Category encoding

In [8]:
X.columns.index()

AttributeError: 'Index' object has no attribute 'index'

In [10]:
a = 12 if X.shape[1]>2 else 13

In [6]:
f.fit(X,y)
#f.transform(X)

Liblinear failed to converge, increase the number of iterations.

In [7]:
f.transform(X)

     Pclass
0         3
1         1
2         3
3         1
4         3
..      ...
885       3
886       2
887       1
889       1
890       3

[714 rows x 1 columns]

In [19]:
#recursive
f.fit(X,y)
f.transform(X)

Liblinear failed to converge, increase the number of iterations.

     Pclass  Sex_female
0         3           0
1         1           1
2         3           1
3         1           1
4         3           0
..      ...         ...
885       3           1
886       2           0
887       1           1
889       1           0
890       3           0

[714 rows x 2 columns]

In [15]:
#var
f.fit(X,y)
f.transform(X)

     Pclass   Age
0         3  22.0
1         1  38.0
2         3  26.0
3         1  35.0
4         3  35.0
..      ...   ...
885       3  39.0
886       2  27.0
887       1  19.0
889       1  26.0
890       3  32.0

[714 rows x 2 columns]

In [123]:
from abc import ABC, abstractmethod
import numpy as np
import pandas as pd

class SelectAlgorithm(ABC):
    """
        Abstract class for feature selection algorithms
    """
    def transform(self, df: pd.DataFrame):
        """
        Select features based on fit
        
    	Parameters
    	----------            
        df : pd.DataFrame
             dataframe with features to be selected
                    
    	Returns
    	-------
        pd.DataFrame
        dataframe with selected features only
        """
        return df[df.columns[self.selected_columns]]

    def get_support(self):
        """
        Get a mask, or integer index, of the features selected
        
    	Parameters
    	----------            
                    
    	Returns
    	-------
        np.array     
        """
        return self.selected_columns

    @abstractmethod
    def fit(self) -> None:
        """
        Abstract method that is implemented in classes that inherit it
        """
        pass

class SelectCorrelation(SelectAlgorithm):
    """
        Class to select features based on correlation between features
    """
    def __init__(self, threshold = 0.95):
        self.threshold = threshold
    """
        Constructor

        Parameters
    	----------            
        threshold     : float   
                        correlation threshold
    	Returns
    	-------
        SelectCorrelation
    """
    def fit(self, X: pd.DataFrame, y = None):
        """
        Identify the features to be selected.
        
    	Parameters
    	----------            
        X : pd.DataFrame
             features to be selected

        y : pd.DataFrame
            target values
                    
    	Returns
    	-------
        None
        """
        corr = X.corr()
        self.selected_columns = np.full((corr.shape[0],), True, dtype=bool)
        [self.check_correlation(corr.iloc[i,j],j) for i in range(corr.shape[0]) for j in range(i+1, corr.shape[0])]
        
    def check_correlation(self,corr,j):
        if np.abs(corr) >= self.threshold and self.selected_columns[j]:
            self.selected_columns[j] = False

In [124]:
s = SelectCorrelation(threshold = 0.2)
s.fit(X)
s.transform(X)

     Pclass  Sex_female
0         3           0
1         1           1
2         3           1
3         1           1
4         3           0
..      ...         ...
885       3           1
886       2           0
887       1           1
889       1           0
890       3           0

[714 rows x 2 columns]

In [116]:
X.corr()

              Pclass       Age  Sex_female  Sex_male
Pclass      1.000000 -0.369226   -0.155460  0.155460
Age        -0.369226  1.000000   -0.093254  0.093254
Sex_female -0.155460 -0.093254    1.000000 -1.000000
Sex_male    0.155460  0.093254   -1.000000  1.000000

In [24]:

VarianceThreshold(**{'threshold':0.1}).fit_transform(df)

INFO:root:Cleaning data
INFO:root:Category encoding

array([[ 0.,  3., 22.,  0.,  1.],
       [ 1.,  1., 38.,  1.,  0.],
       [ 1.,  3., 26.,  1.,  0.],
       ...,
       [ 1.,  1., 19.,  1.,  0.],
       [ 1.,  1., 26.,  0.,  1.],
       [ 0.,  3., 32.,  0.,  1.]])

In [16]:
p = Preprocessing()

In [7]:
df

     Survived  Pclass     Sex   Age
0           0       3    male  22.0
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
4           0       3    male  35.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[891 rows x 4 columns]

In [12]:
lambda x: df['Age'].values.reshape(-1,1)

array([[22.  ],
       [38.  ],
       [26.  ],
       [35.  ],
       [35.  ],
       [  nan],
       [54.  ],
       [ 2.  ],
       [27.  ],
       [14.  ],
       [ 4.  ],
       [58.  ],
       [20.  ],
       [39.  ],
       [14.  ],
       [55.  ],
       [ 2.  ],
       [  nan],
       [31.  ],
       [  nan],
       [35.  ],
       [34.  ],
       [15.  ],
       [28.  ],
       [ 8.  ],
       [38.  ],
       [  nan],
       [19.  ],
       [  nan],
       [  nan],
       [40.  ],
       [  nan],
       [  nan],
       [66.  ],
       [28.  ],
       [42.  ],
       [  nan],
       [21.  ],
       [18.  ],
       [14.  ],
       [40.  ],
       [27.  ],
       [  nan],
       [ 3.  ],
       [19.  ],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [18.  ],
       [ 7.  ],
       [21.  ],
       [49.  ],
       [29.  ],
       [65.  ],
       [  nan],
       [21.  ],
       [28.5 ],
       [ 5.  ],
       [11.  ],
       [22.  ],
       [38.  ],
       [45.  ],
       [ 4.  ],
       [  nan],
       [  nan],
       [29.  ],
       [19.  ],
       [17.  ],
       [26.  ],
       [32.  ],
       [16.  ],
       [21.  ],
       [26.  ],
       [32.  ],
       [25.  ],
       [  nan],
       [  nan],
       [ 0.83],
       [30.  ],
       [22.  ],
       [29.  ],
       [  nan],
       [28.  ],
       [17.  ],
       [33.  ],
       [16.  ],
       [  nan],
       [23.  ],
       [24.  ],
       [29.  ],
       [20.  ],
       [46.  ],
       [26.  ],
       [59.  ],
       [  nan],
       [71.  ],
       [23.  ],
       [34.  ],
       [34.  ],
       [28.  ],
       [  nan],
       [21.  ],
       [33.  ],
       [37.  ],
       [28.  ],
       [21.  ],
       [  nan],
       [38.  ],
       [  nan],
       [47.  ],
       [14.5 ],
       [22.  ],
       [20.  ],
       [17.  ],
       [21.  ],
       [70.5 ],
       [29.  ],
       [24.  ],
       [ 2.  ],
       [21.  ],
       [  nan],
       [32.5 ],
       [32.5 ],
       [54.  ],
       [12.  ],
       [  nan],
       [24.  ],
       [  nan],
       [45.  ],
       [33.  ],
       [20.  ],
       [47.  ],
       [29.  ],
       [25.  ],
       [23.  ],
       [19.  ],
       [37.  ],
       [16.  ],
       [24.  ],
       [  nan],
       [22.  ],
       [24.  ],
       [19.  ],
       [18.  ],
       [19.  ],
       [27.  ],
       [ 9.  ],
       [36.5 ],
       [42.  ],
       [51.  ],
       [22.  ],
       [55.5 ],
       [40.5 ],
       [  nan],
       [51.  ],
       [16.  ],
       [30.  ],
       [  nan],
       [  nan],
       [44.  ],
       [40.  ],
       [26.  ],
       [17.  ],
       [ 1.  ],
       [ 9.  ],
       [  nan],
       [45.  ],
       [  nan],
       [28.  ],
       [61.  ],
       [ 4.  ],
       [ 1.  ],
       [21.  ],
       [56.  ],
       [18.  ],
       [  nan],
       [50.  ],
       [30.  ],
       [36.  ],
       [  nan],
       [  nan],
       [ 9.  ],
       [ 1.  ],
       [ 4.  ],
       [  nan],
       [  nan],
       [45.  ],
       [40.  ],
       [36.  ],
       [32.  ],
       [19.  ],
       [19.  ],
       [ 3.  ],
       [44.  ],
       [58.  ],
       [  nan],
       [42.  ],
       [  nan],
       [24.  ],
       [28.  ],
       [  nan],
       [34.  ],
       [45.5 ],
       [18.  ],
       [ 2.  ],
       [32.  ],
       [26.  ],
       [16.  ],
       [40.  ],
       [24.  ],
       [35.  ],
       [22.  ],
       [30.  ],
       [  nan],
       [31.  ],
       [27.  ],
       [42.  ],
       [32.  ],
       [30.  ],
       [16.  ],
       [27.  ],
       [51.  ],
       [  nan],
       [38.  ],
       [22.  ],
       [19.  ],
       [20.5 ],
       [18.  ],
       [  nan],
       [35.  ],
       [29.  ],
       [59.  ],
       [ 5.  ],
       [24.  ],
       [  nan],
       [44.  ],
       [ 8.  ],
       [19.  ],
       [33.  ],
       [  nan],
       [  nan],
       [29.  ],
       [22.  ],
       [30.  ],
       [44.  ],
       [25.  ],
       [24.  ],
       [37.  ],
       [54.  ],
       [  nan],
       [29.  ],
       [62.  ],
       [30.  ],
       [41.  ],
       [29.  ],
       [  nan],
       [30.  ],
       [35.  ],
       [50.  ],
       [  nan],
       [ 3.  ],
       [52.  ],
       [40.  ],
       [  nan],
       [36.  ],
       [16.  ],
       [25.  ],
       [58.  ],
       [35.  ],
       [  nan],
       [25.  ],
       [41.  ],
       [37.  ],
       [  nan],
       [63.  ],
       [45.  ],
       [  nan],
       [ 7.  ],
       [35.  ],
       [65.  ],
       [28.  ],
       [16.  ],
       [19.  ],
       [  nan],
       [33.  ],
       [30.  ],
       [22.  ],
       [42.  ],
       [22.  ],
       [26.  ],
       [19.  ],
       [36.  ],
       [24.  ],
       [24.  ],
       [  nan],
       [23.5 ],
       [ 2.  ],
       [  nan],
       [50.  ],
       [  nan],
       [  nan],
       [19.  ],
       [  nan],
       [  nan],
       [ 0.92],
       [  nan],
       [17.  ],
       [30.  ],
       [30.  ],
       [24.  ],
       [18.  ],
       [26.  ],
       [28.  ],
       [43.  ],
       [26.  ],
       [24.  ],
       [54.  ],
       [31.  ],
       [40.  ],
       [22.  ],
       [27.  ],
       [30.  ],
       [22.  ],
       [  nan],
       [36.  ],
       [61.  ],
       [36.  ],
       [31.  ],
       [16.  ],
       [  nan],
       [45.5 ],
       [38.  ],
       [16.  ],
       [  nan],
       [  nan],
       [29.  ],
       [41.  ],
       [45.  ],
       [45.  ],
       [ 2.  ],
       [24.  ],
       [28.  ],
       [25.  ],
       [36.  ],
       [24.  ],
       [40.  ],
       [  nan],
       [ 3.  ],
       [42.  ],
       [23.  ],
       [  nan],
       [15.  ],
       [25.  ],
       [  nan],
       [28.  ],
       [22.  ],
       [38.  ],
       [  nan],
       [  nan],
       [40.  ],
       [29.  ],
       [45.  ],
       [35.  ],
       [  nan],
       [30.  ],
       [60.  ],
       [  nan],
       [  nan],
       [24.  ],
       [25.  ],
       [18.  ],
       [19.  ],
       [22.  ],
       [ 3.  ],
       [  nan],
       [22.  ],
       [27.  ],
       [20.  ],
       [19.  ],
       [42.  ],
       [ 1.  ],
       [32.  ],
       [35.  ],
       [  nan],
       [18.  ],
       [ 1.  ],
       [36.  ],
       [  nan],
       [17.  ],
       [36.  ],
       [21.  ],
       [28.  ],
       [23.  ],
       [24.  ],
       [22.  ],
       [31.  ],
       [46.  ],
       [23.  ],
       [28.  ],
       [39.  ],
       [26.  ],
       [21.  ],
       [28.  ],
       [20.  ],
       [34.  ],
       [51.  ],
       [ 3.  ],
       [21.  ],
       [  nan],
       [  nan],
       [  nan],
       [33.  ],
       [  nan],
       [44.  ],
       [  nan],
       [34.  ],
       [18.  ],
       [30.  ],
       [10.  ],
       [  nan],
       [21.  ],
       [29.  ],
       [28.  ],
       [18.  ],
       [  nan],
       [28.  ],
       [19.  ],
       [  nan],
       [32.  ],
       [28.  ],
       [  nan],
       [42.  ],
       [17.  ],
       [50.  ],
       [14.  ],
       [21.  ],
       [24.  ],
       [64.  ],
       [31.  ],
       [45.  ],
       [20.  ],
       [25.  ],
       [28.  ],
       [  nan],
       [ 4.  ],
       [13.  ],
       [34.  ],
       [ 5.  ],
       [52.  ],
       [36.  ],
       [  nan],
       [30.  ],
       [49.  ],
       [  nan],
       [29.  ],
       [65.  ],
       [  nan],
       [50.  ],
       [  nan],
       [48.  ],
       [34.  ],
       [47.  ],
       [48.  ],
       [  nan],
       [38.  ],
       [  nan],
       [56.  ],
       [  nan],
       [ 0.75],
       [  nan],
       [38.  ],
       [33.  ],
       [23.  ],
       [22.  ],
       [  nan],
       [34.  ],
       [29.  ],
       [22.  ],
       [ 2.  ],
       [ 9.  ],
       [  nan],
       [50.  ],
       [63.  ],
       [25.  ],
       [  nan],
       [35.  ],
       [58.  ],
       [30.  ],
       [ 9.  ],
       [  nan],
       [21.  ],
       [55.  ],
       [71.  ],
       [21.  ],
       [  nan],
       [54.  ],
       [  nan],
       [25.  ],
       [24.  ],
       [17.  ],
       [21.  ],
       [  nan],
       [37.  ],
       [16.  ],
       [18.  ],
       [33.  ],
       [  nan],
       [28.  ],
       [26.  ],
       [29.  ],
       [  nan],
       [36.  ],
       [54.  ],
       [24.  ],
       [47.  ],
       [34.  ],
       [  nan],
       [36.  ],
       [32.  ],
       [30.  ],
       [22.  ],
       [  nan],
       [44.  ],
       [  nan],
       [40.5 ],
       [50.  ],
       [  nan],
       [39.  ],
       [23.  ],
       [ 2.  ],
       [  nan],
       [17.  ],
       [  nan],
       [30.  ],
       [ 7.  ],
       [45.  ],
       [30.  ],
       [  nan],
       [22.  ],
       [36.  ],
       [ 9.  ],
       [11.  ],
       [32.  ],
       [50.  ],
       [64.  ],
       [19.  ],
       [  nan],
       [33.  ],
       [ 8.  ],
       [17.  ],
       [27.  ],
       [  nan],
       [22.  ],
       [22.  ],
       [62.  ],
       [48.  ],
       [  nan],
       [39.  ],
       [36.  ],
       [  nan],
       [40.  ],
       [28.  ],
       [  nan],
       [  nan],
       [24.  ],
       [19.  ],
       [29.  ],
       [  nan],
       [32.  ],
       [62.  ],
       [53.  ],
       [36.  ],
       [  nan],
       [16.  ],
       [19.  ],
       [34.  ],
       [39.  ],
       [  nan],
       [32.  ],
       [25.  ],
       [39.  ],
       [54.  ],
       [36.  ],
       [  nan],
       [18.  ],
       [47.  ],
       [60.  ],
       [22.  ],
       [  nan],
       [35.  ],
       [52.  ],
       [47.  ],
       [  nan],
       [37.  ],
       [36.  ],
       [  nan],
       [49.  ],
       [  nan],
       [49.  ],
       [24.  ],
       [  nan],
       [  nan],
       [44.  ],
       [35.  ],
       [36.  ],
       [30.  ],
       [27.  ],
       [22.  ],
       [40.  ],
       [39.  ],
       [  nan],
       [  nan],
       [  nan],
       [35.  ],
       [24.  ],
       [34.  ],
       [26.  ],
       [ 4.  ],
       [26.  ],
       [27.  ],
       [42.  ],
       [20.  ],
       [21.  ],
       [21.  ],
       [61.  ],
       [57.  ],
       [21.  ],
       [26.  ],
       [  nan],
       [80.  ],
       [51.  ],
       [32.  ],
       [  nan],
       [ 9.  ],
       [28.  ],
       [32.  ],
       [31.  ],
       [41.  ],
       [  nan],
       [20.  ],
       [24.  ],
       [ 2.  ],
       [  nan],
       [ 0.75],
       [48.  ],
       [19.  ],
       [56.  ],
       [  nan],
       [23.  ],
       [  nan],
       [18.  ],
       [21.  ],
       [  nan],
       [18.  ],
       [24.  ],
       [  nan],
       [32.  ],
       [23.  ],
       [58.  ],
       [50.  ],
       [40.  ],
       [47.  ],
       [36.  ],
       [20.  ],
       [32.  ],
       [25.  ],
       [  nan],
       [43.  ],
       [  nan],
       [40.  ],
       [31.  ],
       [70.  ],
       [31.  ],
       [  nan],
       [18.  ],
       [24.5 ],
       [18.  ],
       [43.  ],
       [36.  ],
       [  nan],
       [27.  ],
       [20.  ],
       [14.  ],
       [60.  ],
       [25.  ],
       [14.  ],
       [19.  ],
       [18.  ],
       [15.  ],
       [31.  ],
       [ 4.  ],
       [  nan],
       [25.  ],
       [60.  ],
       [52.  ],
       [44.  ],
       [  nan],
       [49.  ],
       [42.  ],
       [18.  ],
       [35.  ],
       [18.  ],
       [25.  ],
       [26.  ],
       [39.  ],
       [45.  ],
       [42.  ],
       [22.  ],
       [  nan],
       [24.  ],
       [  nan],
       [48.  ],
       [29.  ],
       [52.  ],
       [19.  ],
       [38.  ],
       [27.  ],
       [  nan],
       [33.  ],
       [ 6.  ],
       [17.  ],
       [34.  ],
       [50.  ],
       [27.  ],
       [20.  ],
       [30.  ],
       [  nan],
       [25.  ],
       [25.  ],
       [29.  ],
       [11.  ],
       [  nan],
       [23.  ],
       [23.  ],
       [28.5 ],
       [48.  ],
       [35.  ],
       [  nan],
       [  nan],
       [  nan],
       [36.  ],
       [21.  ],
       [24.  ],
       [31.  ],
       [70.  ],
       [16.  ],
       [30.  ],
       [19.  ],
       [31.  ],
       [ 4.  ],
       [ 6.  ],
       [33.  ],
       [23.  ],
       [48.  ],
       [ 0.67],
       [28.  ],
       [18.  ],
       [34.  ],
       [33.  ],
       [  nan],
       [41.  ],
       [20.  ],
       [36.  ],
       [16.  ],
       [51.  ],
       [  nan],
       [30.5 ],
       [  nan],
       [32.  ],
       [24.  ],
       [48.  ],
       [57.  ],
       [  nan],
       [54.  ],
       [18.  ],
       [  nan],
       [ 5.  ],
       [  nan],
       [43.  ],
       [13.  ],
       [17.  ],
       [29.  ],
       [  nan],
       [25.  ],
       [25.  ],
       [18.  ],
       [ 8.  ],
       [ 1.  ],
       [46.  ],
       [  nan],
       [16.  ],
       [  nan],
       [  nan],
       [25.  ],
       [39.  ],
       [49.  ],
       [31.  ],
       [30.  ],
       [30.  ],
       [34.  ],
       [31.  ],
       [11.  ],
       [ 0.42],
       [27.  ],
       [31.  ],
       [39.  ],
       [18.  ],
       [39.  ],
       [33.  ],
       [26.  ],
       [39.  ],
       [35.  ],
       [ 6.  ],
       [30.5 ],
       [  nan],
       [23.  ],
       [31.  ],
       [43.  ],
       [10.  ],
       [52.  ],
       [27.  ],
       [38.  ],
       [27.  ],
       [ 2.  ],
       [  nan],
       [  nan],
       [ 1.  ],
       [  nan],
       [62.  ],
       [15.  ],
       [ 0.83],
       [  nan],
       [23.  ],
       [18.  ],
       [39.  ],
       [21.  ],
       [  nan],
       [32.  ],
       [  nan],
       [20.  ],
       [16.  ],
       [30.  ],
       [34.5 ],
       [17.  ],
       [42.  ],
       [  nan],
       [35.  ],
       [28.  ],
       [  nan],
       [ 4.  ],
       [74.  ],
       [ 9.  ],
       [16.  ],
       [44.  ],
       [18.  ],
       [45.  ],
       [51.  ],
       [24.  ],
       [  nan],
       [41.  ],
       [21.  ],
       [48.  ],
       [  nan],
       [24.  ],
       [42.  ],
       [27.  ],
       [31.  ],
       [  nan],
       [ 4.  ],
       [26.  ],
       [47.  ],
       [33.  ],
       [47.  ],
       [28.  ],
       [15.  ],
       [20.  ],
       [19.  ],
       [  nan],
       [56.  ],
       [25.  ],
       [33.  ],
       [22.  ],
       [28.  ],
       [25.  ],
       [39.  ],
       [27.  ],
       [19.  ],
       [  nan],
       [26.  ],
       [32.  ]])

In [18]:
df = p.clean_data(df)
df = p.categ_encoding(df)

INFO:root:Cleaning data
INFO:numexpr.utils:Note: NumExpr detected 40 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.
INFO:root:Category encoding

In [19]:
df.head()

   Survived   Age  Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male
0         0  22.0         0         0         1           0         1
1         1  38.0         1         0         0           1         0
2         1  26.0         0         0         1           1         0
3         1  35.0         1         0         0           1         0
4         0  35.0         0         0         1           0         1

In [86]:
X = df.drop(columns=["Survived","Sex_male"])
#X = df.drop(columns=["Survived"])
y = df["Survived"]

In [87]:
# Ensure the same random state passed to TrainerSkleran().train()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((499, 5), (215, 5), (499,), (215,))

In [92]:
rf = TrainerSklearn().train(X, y, classification=True, 
                            algorithm=DecisionTreeClassifier, 
                            preprocessing=p,
                           data_split=('train_test', {'test_size':.3}),
                           random_state=123)

Setting feature_perturbation = "tree_path_dependent" because no background data was given.
INFO:interpret_community.TabularExplainer:Initialized valid explainer TreeExplainer with args {'explain_subset': None, 'features': ['Age', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female'], 'classes': None}

In [93]:
rf.get_metrics()

{'accuracy': 0.827906976744186,
 'f1': 0.7672955974842767,
 'precision': 0.7530864197530864,
 'recall': 0.782051282051282,
 'roc_auc': 0.8341287666105184}

In [23]:
rf.get_metrics()

{'accuracy': 0.7534883720930232,
 'f1': 0.6708074534161491,
 'precision': 0.6923076923076923,
 'recall': 0.6506024096385542,
 'roc_auc': 0.7930814165753926}

In [12]:
rf.get_columns()

['Age', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female', 'Sex_male']

In [13]:
rf.predict_proba(X_test, binary=True)

array([1.        , 0.45271429, 0.43433333, 0.93333333, 0.29      ,
       0.0097619 , 0.08943685, 0.        , 0.0525    , 0.98      ,
       0.65514286, 0.10844703, 0.10844703, 0.97      , 0.87      ,
       0.29193651, 0.01      , 0.42744644, 1.        , 0.0300202 ,
       0.30402381, 1.        , 0.46507143, 0.73488095, 0.56333333,
       1.        , 0.01339054, 1.        , 0.        , 0.35177655,
       0.        , 0.        , 1.        , 0.11603523, 0.        ,
       0.74980952, 0.42744644, 0.13549914, 0.62743681, 0.        ,
       0.055     , 0.        , 0.29346825, 0.02      , 1.        ,
       0.1125    , 0.21      , 1.        , 1.        , 0.36449206,
       0.08943685, 0.38      , 0.        , 0.02      , 1.        ,
       0.42744644, 1.        , 0.        , 0.10844703, 0.00461538,
       1.        , 1.        , 0.08943685, 0.        , 0.49278571,
       0.        , 0.00461538, 1.        , 0.        , 0.42744644,
       0.08943685, 0.02      , 0.17333333, 0.31885714, 0.43383333,
       0.02      , 0.        , 0.01      , 0.10844703, 0.0300202 ,
       0.62743681, 0.74980952, 1.        , 0.1585    , 0.29346825,
       1.        , 1.        , 1.        , 0.14222724, 0.18938095,
       0.01333333, 0.16983333, 0.33480556, 0.19186052, 0.96      ,
       0.65792857, 0.07983333, 1.        , 0.20904762, 1.        ,
       0.        , 1.        , 0.00111111, 0.31690476, 0.40089322,
       0.07      , 1.        , 0.        , 0.01198413, 0.        ,
       0.        , 0.05333333, 1.        , 1.        , 0.65792857,
       0.19186052, 0.49278571, 0.        , 0.025     , 0.        ,
       1.        , 0.14222724, 0.        , 0.40089322, 0.01      ,
       0.        , 0.        , 0.72988095, 0.35177655, 0.44572039,
       0.55391667, 1.        , 0.7067381 , 0.38      , 0.10844703,
       0.13549914, 0.        , 0.0097619 , 0.        , 0.08122222,
       0.42128571, 0.        , 1.        , 0.08943685, 0.        ,
       1.        , 0.        , 0.00111111, 0.92      , 0.01      ,
       0.9707381 , 1.        , 0.18396825, 0.39642857, 0.        ,
       0.18396825, 0.41533333, 0.19186052, 0.43483333, 0.314     ,
       0.03164286, 1.        , 0.06961652, 0.        , 0.        ,
       0.6867381 , 1.        , 0.17      , 0.        , 0.        ,
       0.89      , 0.0525    , 1.        , 0.025     , 0.        ,
       0.93614286, 0.63869517, 1.        , 1.        , 0.14222724,
       0.96      , 0.        , 0.        , 1.        , 1.        ,
       0.99      , 0.71      , 0.325     , 0.99      , 0.19343795,
       0.        , 0.4915    , 0.714     , 0.03416667, 0.31690476,
       0.02      , 0.01      , 0.        , 0.02      , 0.55391667,
       0.98      , 0.08      , 1.        , 0.41324603, 1.        ,
       0.07      , 1.        , 0.14222724, 0.00333333, 0.5665    ,
       0.        , 1.        , 0.        , 0.23      , 0.00461538])

In [14]:
# Predicting new data
def predict_new(X, model, probs=True):
    X = p.clean_data(X)
    X = p.categ_encoding(X)
    
    columns = model.get_columns()
    for col in columns:
        if col not in X.columns:
            X[col] = 0
    print(X)
    if probs:
        return model.predict_proba(X)
    else:
        return model.predict(X)

In [15]:
new_data = pd.DataFrame({
    'Pclass':3,
    'Sex': 'male',
    'Age':4
}, index=[0])

new_data

   Pclass   Sex  Age
0       3  male    4

In [16]:
predict_new(new_data, rf)

INFO:root:Cleaning data
INFO:root:Category encoding

   Age  Pclass_3  Sex_male  Pclass_1  Pclass_2  Sex_female
0    4         1         1         0         0           0

array([[0.68114286, 0.31885714]])

**Get local explainer for each instance:**

In [30]:
# Get local explainer
res = rf.local_interpret(X_test, len(X_test.columns))

In [31]:
res

,Importance_Name_0,Importance_Name_1,Importance_Name_2,Importance_Name_3,Importance_Name_4,Importance_Name_5,Importance_Value_0,Importance_Value_1,Importance_Value_2,Importance_Value_3,Importance_Value_4,Importance_Value_5
0,Sex_female,Sex_male,Pclass_3,Pclass_2,Age,Pclass_1,0.235407,0.212511,0.131872,0.049253,-0.019605,-0.028737
1,Sex_male,Sex_female,Age,Pclass_2,Pclass_3,Pclass_1,0.107810,0.105021,0.027756,-0.024243,-0.076479,-0.173282
2,Pclass_3,Pclass_1,Pclass_2,Age,Sex_male,Sex_female,0.136886,0.054153,0.035203,-0.040919,-0.093182,-0.107176
3,Sex_female,Sex_male,Age,Pclass_2,Pclass_1,Pclass_3,0.218018,0.210792,0.206967,-0.012758,-0.035676,-0.073309
4,Sex_male,Sex_female,Age,Pclass_2,Pclass_3,Pclass_1,0.125001,0.124176,0.092246,-0.010514,-0.068209,-0.133400
...,...,...,...,...,...,...,...,...,...,...,...,...
210,Age,Sex_female,Sex_male,Pclass_2,Pclass_3,Pclass_1,0.197178,0.135364,0.130705,-0.002840,-0.014871,-0.026237
211,Sex_female,Sex_male,Pclass_1,Pclass_3,Age,Pclass_2,0.163068,0.161115,0.099112,0.085461,0.072337,-0.000391
212,Sex_female,Age,Pclass_1,Pclass_2,Sex_male,Pclass_3,0.097598,0.095317,0.090221,0.087228,0.079541,-0.030605
213,Pclass_3,Pclass_1,Sex_female,Sex_male,Pclass_2,Age,0.127740,0.054102,0.043235,0.041091,0.036320,-0.113190
214,Age,Sex_female,Sex_male,Pclass_3,Pclass_1,Pclass_2,0.122643,0.115234,0.104086,0.042674,0.025775,0.004272

In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('abca'))

In [3]:
s

0    a
1    b
2    c
3    a
dtype: object

In [4]:
pd.get_dummies(s)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [ ]:
df