# Notebook example

Installing some necessary packages:

In [1]:
!pip install ipywidgets
!jupyter nbextension enable --py widgetsnbextension
!jupyter labextension install @jupyter-widgets/jupyterlab-manager

Requirement already satisfied: ipywidgets in /home/rodrigo/.local/lib/python3.8/site-packages (7.6.3)
Requirement already satisfied: traitlets>=4.3.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipywidgets) (5.0.5)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipywidgets) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipywidgets) (5.4.3)
Requirement already satisfied: nbformat>=4.2.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipywidgets) (5.1.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /home/rodrigo/.local/lib/python3.8/site-packages (from ipywidgets) (1.0.0)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /home/rodrigo/.local/lib/python3.8/site-packages (from ipywidgets) (7.19.0)
Requirement already satisfied: ipython-genutils in /home/rodrigo/.local/lib/python3.8/site-packages (from traitlets>=4.3.1->ipywidgets) (0.2.0)
Requirement already satisfied: notebook>=4.4.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from widgetsnbextension~=3.5.0->ipywidgets) (6.2.0)
Requirement already satisfied: tornado>=4.2 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (6.1)
Requirement already satisfied: jupyter-client in /home/rodrigo/.local/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets) (6.1.11)
Requirement already satisfied: jupyter-core in /home/rodrigo/.local/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets) (4.7.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/rodrigo/.local/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets) (3.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/lib/python3/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (45.2.0)
Requirement already satisfied: jedi>=0.10 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.18.0)
Requirement already satisfied: pickleshare in /home/rodrigo/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.7.5)
Requirement already satisfied: backcall in /home/rodrigo/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (3.0.10)
Requirement already satisfied: pygments in /home/rodrigo/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (2.7.4)
Requirement already satisfied: decorator in /home/rodrigo/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (4.4.2)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /usr/lib/python3/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (4.6.0)
Requirement already satisfied: terminado>=0.8.3 in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.9.2)
Requirement already satisfied: prometheus-client in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.9.0)
Requirement already satisfied: Send2Trash>=1.5.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.5.0)
Requirement already satisfied: argon2-cffi in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (20.1.0)
Requirement already satisfied: pyzmq>=17 in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (21.0.0)
Requirement already satisfied: jinja2 in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.11.2)
Requirement already satisfied: nbconvert in /home/rodrigo/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (6.0.7)
Requirement already satisfied: python-dateutil>=2.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets) (2.8.1)
Requirement already satisfied: six>=1.11.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (1.15.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (0.17.3)
Requirement already satisfied: attrs>=17.4.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (20.3.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.8.1)
Requirement already satisfied: wcwidth in /home/rodrigo/.local/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.2.5)
Requirement already satisfied: ptyprocess; os_name != "nt" in /home/rodrigo/.local/lib/python3.8/site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.7.0)
Requirement already satisfied: cffi>=1.0.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.14.4)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/lib/python3/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.1.0)
Requirement already satisfied: jupyterlab-pygments in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.1.2)
Requirement already satisfied: defusedxml in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.6.0)
Requirement already satisfied: bleach in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (3.2.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.8.4)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/lib/python3/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.4.3)
Requirement already satisfied: testpath in /home/rodrigo/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.4.4)
Requirement already satisfied: pycparser in /home/rodrigo/.local/lib/python3.8/site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.20)
Requirement already satisfied: packaging in /home/rodrigo/.local/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (20.8)
Requirement already satisfied: webencodings in /home/rodrigo/.local/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.1)
Requirement already satisfied: async-generator in /home/rodrigo/.local/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.10)
Requirement already satisfied: nest-asyncio in /home/rodrigo/.local/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.4.3)
Requirement already satisfied: pyparsing>=2.0.2 in /home/rodrigo/.local/lib/python3.8/site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.4.7)

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK
Traceback (most recent call last):
  File "/home/rodrigo/.local/bin/jupyter-labextension", line 7, in <module>
    from jupyterlab.labextensions import main
ModuleNotFoundError: No module named 'jupyterlab'

In [4]:
!pip install xgboost
!pip install scikit-learn==0.24

Requirement already satisfied: xgboost in /home/rodrigo/.local/lib/python3.8/site-packages (1.3.3)
Requirement already satisfied: scipy in /home/rodrigo/.local/lib/python3.8/site-packages (from xgboost) (1.5.4)
Requirement already satisfied: numpy in /home/rodrigo/.local/lib/python3.8/site-packages (from xgboost) (1.19.5)
Requirement already satisfied: scikit-learn==0.24 in /home/rodrigo/.local/lib/python3.8/site-packages (0.24.0)
Requirement already satisfied: joblib>=0.11 in /home/rodrigo/.local/lib/python3.8/site-packages (from scikit-learn==0.24) (1.0.0)
Requirement already satisfied: numpy>=1.13.3 in /home/rodrigo/.local/lib/python3.8/site-packages (from scikit-learn==0.24) (1.19.5)
Requirement already satisfied: scipy>=0.19.1 in /home/rodrigo/.local/lib/python3.8/site-packages (from scikit-learn==0.24) (1.5.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/rodrigo/.local/lib/python3.8/site-packages (from scikit-learn==0.24) (2.1.0)

**It is necessary to change the working directory so the project structure works properly:**

In [1]:
import sys
sys.path.append("../../")

From this point, it's on you!

---

In [16]:
import pandas as pd
import numpy as np

from ml.data_source.spreadsheet import Spreadsheet
from ml.preprocessing.preprocessing import Preprocessing
from ml.preprocessing.feature_selection import FeatureSelector
from ml.model.trainer import TrainerSklearn
from ml.preprocessing.normalization import Normalizer

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVR
from sklearn.svm import LinearSVC
from sklearn.feature_selection import mutual_info_classif 
from skfeature.function.similarity_based import fisher_score 
from sklearn.feature_selection import chi2

In [3]:
df = Spreadsheet().get_data('../../../data/raw/train.csv',columns=['Survived','Pclass','Sex','Age'])

In [ ]:
p = Preprocessing()
estimator = LinearSVC()
#f = FeatureSelector('exaustive', estimator = estimator, min_features = 3, max_features = 4)
#f = FeatureSelector('recursive', estimator = LinearSVC(), n_features_to_select=2)
#f = FeatureSelector('sequential', estimator = LinearSVC(), direction='forward')
#f = FeatureSelector('model', estimator = estimator)
#f = FeatureSelector('variance', threshold=0.5)
#f = FeatureSelector('correlation', threshold=0.9)
#f = FeatureSelector('univariate_kbest', score_func=FeatureSelector.mean_abs_diff, k=2)
#f = FeatureSelector('univariate_percentile', score_func=chi2, percentile=50)
#f = FeatureSelector('coefficients', model=estimator, num_feat = 2)
f = FeatureSelector('ensemble', dic_selection={ 'variance': {'threshold' : 0.3},
                                              'recursive': {'estimator' : LinearSVC(), 'n_features_to_select' : 2}},
                   num_feat = 1)
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

## Variance Threshold Example

In [6]:
p = Preprocessing()
f = FeatureSelector('variance', threshold=0.5)
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [7]:
f.fit(X,y)
f.transform(X)

     Pclass   Age
0         3  22.0
1         1  38.0
2         3  26.0
3         1  35.0
4         3  35.0
..      ...   ...
885       3  39.0
886       2  27.0
887       1  19.0
889       1  26.0
890       3  32.0

[714 rows x 2 columns]

## Information Gain Example

In [8]:
p = Preprocessing()
f = FeatureSelector('univariate_kbest', score_func=mutual_info_classif, k=2)
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [9]:
f.fit(X,y)
f.transform(X)

     Sex_female  Sex_male
0             0         1
1             1         0
2             1         0
3             1         0
4             0         1
..          ...       ...
885           1         0
886           0         1
887           1         0
889           0         1
890           0         1

[714 rows x 2 columns]

## Chi-square Example (k best)

In [10]:
p = Preprocessing()
f = FeatureSelector('univariate_kbest', score_func=chi2, k=2)
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [11]:
f.fit(X,y)
f.transform(X)

     Sex_female  Sex_male
0             0         1
1             1         0
2             1         0
3             1         0
4             0         1
..          ...       ...
885           1         0
886           0         1
887           1         0
889           0         1
890           0         1

[714 rows x 2 columns]

## Chi-square Example (percentile)

In [35]:
p = Preprocessing()
f = FeatureSelector('univariate_percentile', score_func=chi2, percentile=10)
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [36]:
f.fit(X,y)
f.transform(X)

     Sex_female
0             0
1             1
2             1
3             1
4             0
..          ...
885           1
886           0
887           1
889           0
890           0

[714 rows x 1 columns]

## Fisher's Score Example

In [12]:
p = Preprocessing()
f = FeatureSelector('univariate_kbest', score_func=fisher_score.fisher_score, k=2)
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [13]:
f.fit(X,y)
f.transform(X)

     Sex_female  Sex_male
0             0         1
1             1         0
2             1         0
3             1         0
4             0         1
..          ...       ...
885           1         0
886           0         1
887           1         0
889           0         1
890           0         1

[714 rows x 2 columns]

## Correlation Coefficient Example

In [14]:
p = Preprocessing()
f = FeatureSelector('correlation', threshold=0.9)
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [15]:
f.fit(X,y)
f.transform(X)

     Pclass   Age  Sex_female
0         3  22.0           0
1         1  38.0           1
2         3  26.0           1
3         1  35.0           1
4         3  35.0           0
..      ...   ...         ...
885       3  39.0           1
886       2  27.0           0
887       1  19.0           1
889       1  26.0           0
890       3  32.0           0

[714 rows x 3 columns]

## Mean Absolute Difference (MAD) Example

In [16]:
f = FeatureSelector('univariate_kbest', score_func=FeatureSelector.mean_abs_diff, k=2)
p = Preprocessing()
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [17]:
f.fit(X,y)
f.transform(X)

     Pclass   Age
0         3  22.0
1         1  38.0
2         3  26.0
3         1  35.0
4         3  35.0
..      ...   ...
885       3  39.0
886       2  27.0
887       1  19.0
889       1  26.0
890       3  32.0

[714 rows x 2 columns]

## Dispersion ratio Example

In [4]:
f = FeatureSelector('univariate_kbest', score_func=FeatureSelector.disp_ratio, k=2)
p = Preprocessing()
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:numexpr.utils:Note: NumExpr detected 40 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.
INFO:root:Category encoding

In [5]:
f.fit(X,y)
f.transform(X)

overflow encountered in reduce
divide by zero encountered in true_divide

     Sex_female  Sex_male
0             0         1
1             1         0
2             1         0
3             1         0
4             0         1
..          ...       ...
885           1         0
886           0         1
887           1         0
889           0         1
890           0         1

[714 rows x 2 columns]

## Forward Feature Selection Example

In [6]:
f = FeatureSelector('sequential', estimator = DecisionTreeClassifier(), direction='forward')
p = Preprocessing()
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [7]:
f.fit(X,y)
f.transform(X)

     Pclass  Sex_female
0         3           0
1         1           1
2         3           1
3         1           1
4         3           0
..      ...         ...
885       3           1
886       2           0
887       1           1
889       1           0
890       3           0

[714 rows x 2 columns]

## Backward Feature Selection Example

In [8]:
f = FeatureSelector('sequential', estimator = DecisionTreeClassifier(), direction='backward')
p = Preprocessing()
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [9]:
f.fit(X,y)
f.transform(X)

     Pclass  Sex_male
0         3         1
1         1         0
2         3         0
3         1         0
4         3         1
..      ...       ...
885       3         0
886       2         1
887       1         0
889       1         1
890       3         1

[714 rows x 2 columns]

## Exaustive Feature Selection Example

In [12]:
f = FeatureSelector('exaustive', estimator = DecisionTreeClassifier(), min_features = 2, max_features = 4)
p = Preprocessing()
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [13]:
f.fit(X,y)
f.transform(X)

Features: 11/11

     Pclass   Age  Sex_female
0         3  22.0           0
1         1  38.0           1
2         3  26.0           1
3         1  35.0           1
4         3  35.0           0
..      ...   ...         ...
885       3  39.0           1
886       2  27.0           0
887       1  19.0           1
889       1  26.0           0
890       3  32.0           0

[714 rows x 3 columns]

## Recursive Feature Elimination Example

In [14]:
f = FeatureSelector('recursive', estimator = LinearSVC(), n_features_to_select=2)
p = Preprocessing()
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [15]:
f.fit(X,y)
f.transform(X)

Liblinear failed to converge, increase the number of iterations.

     Pclass  Sex_female
0         3           0
1         1           1
2         3           1
3         1           1
4         3           0
..      ...         ...
885       3           1
886       2           0
887       1           1
889       1           0
890       3           0

[714 rows x 2 columns]

## LASSO Regularization (L1) Example

In [21]:
estimator = LogisticRegression(C=1, penalty='l1', solver='liblinear')
f = FeatureSelector('model', estimator = estimator)
p = Preprocessing()
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [22]:
f.fit(X,y)
f.transform(X)

     Pclass   Age  Sex_female
0         3  22.0           0
1         1  38.0           1
2         3  26.0           1
3         1  35.0           1
4         3  35.0           0
..      ...   ...         ...
885       3  39.0           1
886       2  27.0           0
887       1  19.0           1
889       1  26.0           0
890       3  32.0           0

[714 rows x 3 columns]

## Random Forest Importance Example

In [23]:
f = FeatureSelector('model', estimator = RandomForestClassifier())
p = Preprocessing()
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [24]:
f.fit(X,y)
f.transform(X)

      Age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
885  39.0
886  27.0
887  19.0
889  26.0
890  32.0

[714 rows x 1 columns]

## Coefficients Example

In [29]:
f = FeatureSelector('coefficients', model=LinearSVC(), num_feat = 2)
p = Preprocessing()
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [30]:
f.fit(X,y)
f.transform(X)

Liblinear failed to converge, increase the number of iterations.

     Pclass  Sex_female
0         3           0
1         1           1
2         3           1
3         1           1
4         3           0
..      ...         ...
885       3           1
886       2           0
887       1           1
889       1           0
890       3           0

[714 rows x 2 columns]

## Ensemble Example

In [37]:
f = FeatureSelector('ensemble', dic_selection={ 'variance': {'threshold' : 0.3},
                                              'recursive': {'estimator' : LinearSVC(), 'n_features_to_select' : 2}},
                   num_feat = 1)
p = Preprocessing()
df = p.clean_data(df)
y = df['Survived']
X = df.drop(columns=['Survived'])
X = p.categ_encoding(X)

INFO:root:Cleaning data
INFO:root:Category encoding

In [38]:
f.fit(X,y)
f.transform(X)

Liblinear failed to converge, increase the number of iterations.

     Pclass
0         3
1         1
2         3
3         1
4         3
..      ...
885       3
886       2
887       1
889       1
890       3

[714 rows x 1 columns]